/* GENERAL STYLING BEGIN */

html, body {
    max-width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

* {
    margin:0px;
	padding:0px;
	font-family: 'Avenir Next W01', 'Avenir Next', 'Proxima Nova', 'Myriad Pro', Helvetica, Calibri, sans-serif;
}

#itlogo {
    position:fixed;
    top:2%;
    left:2%;
    z-index: 999;
    width:75;
}

h2 {
    border-bottom: 1px solid black;
}

.link {
    color: black;
    text-decoration: none;
}


/* GENERAL STYLING END */

/* LANDING SECTION BEGIN */

#landing_section {
    background-color: #40DD86;
    text-align: center;
    width: 100%;
    height:100%;
    overflow: hidden;
}

#landing_text {
    position: relative;
    width: 50%;
    height: 20%;
    margin-left: 25%;
    font-size: 22px;
    line-height: 40px;
    min-height: 80px;
    color: white;
    text-align: center;
}

#mobile_landing_text {
    font-size:22px;
}

#landing_pic {
    position:relative;
    margin-top:-5%;
    width:320;   
}

/* LANDING SECTION END */

/* ABOUT SECTION BEGIN */

#about_section {
    background-color: #B8ECF2;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#about_title {
    position: relative;
    width: 50%;
    height: 20%;
    margin-left: 25%;
    font-size: 30px;
    line-height: 70px;
    min-height: 80px;
    color: black;
    text-align: center;
}

.circular {
    position: relative;
    border-radius: 50%;
    margin-left: 35%;
    margin-top: -16%;
    overflow: hidden;
    width: 100px;
    height: 100px;
}
            
.circular img {
    display: block;
    min-width: 50%;
    min-height: 50%;
}

#profile_picture_size {
    width: 125;
    position: relative;
    left:-10%;
    top: -20%
}

.about_paragraph {
    font-size:12.5px;
    color:black;
    position:relative;
    margin-top: -5%;
}

#about_image {
    margin-top:-13%;
    width: 150;
}

/* ABOUT SECTION END */

/* MOBILE 1 SECTION BEGIN */

#mobile1_section {
   background-color: #F5F3E9;
   text-align: center;
   width: 100%;
   height: 60%;
   overflow: hidden;
}

#mobile1_title {
    position: relative;
    width: 50%;
    height: 20%;
    margin-left: 25%;
    font-size: 50px;
    line-height: 70px;
    min-height: 80px;
    color: white;
    text-align: center;
}

#mobile1_info {
    position:relative;
    margin-top: 10%;
}

#mobile1_picture {
    position: relative;
    margin-top: -9%;
}

#mobile1_description {
    font-family: Helvetica Neue;
}

#mobile1_img {
    width: 150;
    position:relative;
    left:-20%;
    margin-top: -6%;
}

/* MOBILE 1 SECTION END */

/* PROJECT 1 SECTION BEGIN */

#project1_section {
   background-color: #F7E696;
   text-align: center;
   width: 100%;
   height: 60%;
   overflow: hidden;
}

#project1_title {
    position: relative;
    width: 50%;
    height: 20%;
    margin-left: 25%;
    font-size: 50px;
    line-height: 70px;
    min-height: 80px;
    color: white;
    text-align: center;
}

#project1_info {
    position:relative;
    margin-top: 10%;
}

#project1_picture {
    position: relative;
    margin-top: -9%;
}

#project1_description {
    font-family: Helvetica Neue;
}

#project1_img {
    width: 700;
    position:relative;
    left:-59.5%;
    margin-top: -30%;
}

/* PROJECT 1 SECTION END */

/* WATCH 1 SECTION BEGIN */

#watch1_section {
   background-color: #FFD0CB;
   text-align: center;
   width: 100%;
   height: 60%;
   overflow: hidden;
}

#watch1_title {
    position: relative;
    width: 50%;
    height: 20%;
    margin-left: 25%;
    font-size: 50px;
    line-height: 70px;
    min-height: 80px;
    color: white;
    text-align: center;
}

#watch1_info {
    position:relative;
    margin-top: 10%;
}

#watch1_picture {
    position: relative;
    margin-top: -9%;
}

#watch1_description {
    font-family: Helvetica Neue;
}

#watch1_img {
    width: 400;
    position:relative;
    left:-22%;
    margin-top: -18%;
}

/* WATCH 1 SECTION END */

/* PROJECT 2 SECTION BEGIN */

#project2_section {
   background-color: #90EE90;
   text-align: center;
   width: 100%;
   height: 60%;
   overflow: hidden;
}

#project2_title {
    position: relative;
    width: 50%;
    height: 20%;
    margin-left: 25%;
    font-size: 50px;
    line-height: 70px;
    min-height: 80px;
    color: white;
    text-align: center;
}

#project2_info {
    position:relative;
    margin-top: 10%;
}

#project2_picture {
    position: relative;
    margin-top: -9%;
}

#project2_description {
    font-family: Helvetica Neue;
}

#project2_title_smaller {
    font-size: 25px;
}

#project2_img {
    width: 700;
    position:relative;
    left:-59.5%;
    margin-top: -30%;
}

/* PROJECT 2 SECTION END */

/* MOBILE 2 SECTION BEGIN */

#mobile2_section {
   background-color: #96F7F0;
   text-align: center;
   width: 100%;
   height: 60%;
   overflow: hidden;
}

#mobile2_title {
    position: relative;
    width: 50%;
    height: 20%;
    margin-left: 25%;
    font-size: 50px;
    line-height: 70px;
    min-height: 80px;
    color: white;
    text-align: center;
}

#mobile2_info {
    position:relative;
    margin-top: 10%;
}

#mobile2_picture {
    position: relative;
    margin-top: -9%;
}

#mobile2_description {
    font-family: Helvetica Neue;
}

#mobile2_img {
    width: 150;
    position:relative;
    left:-20%;
    margin-top: -6%;
}

/* MOBILE 2 SECTION END */

/* PROJECT 3 SECTION BEGIN */

#project3_section {
   background-color: #F5F3E9;
   text-align: center;
   width: 100%;
   height: 60%;
   overflow: hidden;
}

#project3_title {
    position: relative;
    width: 50%;
    height: 20%;
    margin-left: 25%;
    font-size: 50px;
    line-height: 70px;
    min-height: 80px;
    color: white;
    text-align: center;
}

#project3_info {
    position:relative;
    margin-top: 10%;
}

#project3_picture {
    position: relative;
    margin-top: -9%;
}

#project3_description {
    font-family: Helvetica Neue;
}

#project3_img {
    width: 700;
    position:relative;
    left:-59.5%;
    margin-top: -32%;
}
/* PROJECT 3 SECTION END */

/* MOBILE 3 SECTION BEGIN */

#mobile3_section {
   background-color: #F7E696;
   text-align: center;
   width: 100%;
   height: 60%;
   overflow: hidden;
}

#mobile3_title {
    position: relative;
    width: 50%;
    height: 20%;
    margin-left: 25%;
    font-size: 50px;
    line-height: 70px;
    min-height: 80px;
    color: white;
    text-align: center;
}

#mobile3_info {
    position:relative;
    margin-top: 10%;
}

#mobile3_picture {
    position: relative;
    margin-top: -9%;
}

#mobile3_description {
    font-family: Helvetica Neue;
}

#mobile3_img {
    width: 150;
    position:relative;
    left:-20%;
    margin-top: -6%;
}

/* MOBILE 3 SECTION END */

/* WATCH 2 SECTION BEGIN */

#watch2_section {
   background-color: #FFD0CB;
   text-align: center;
   width: 100%;
   height: 60%;
   overflow: hidden;
}

#watch2_title {
    position: relative;
    width: 50%;
    height: 20%;
    margin-left: 25%;
    font-size: 50px;
    line-height: 70px;
    min-height: 80px;
    color: white;
    text-align: center;
}

#watch2_info {
    position:relative;
    margin-top: 10%;
}

#watch2_picture {
    position: relative;
    margin-top: -9%;
}

#watch2_description {
    font-family: Helvetica Neue;
}

#watch2_img {
    width: 180;
    position:relative;
    left:-19%;
    margin-top: 2.5%;
}

/* WATCH 2 SECTION END */

/* PROJECT 4 SECTION BEGIN */

#project4_section {
   background-color: #90EE90;
   text-align: center;
   width: 100%;
   height: 60%;
   overflow: hidden;
}

#project4_title {
    position: relative;
    width: 50%;
    height: 20%;
    margin-left: 25%;
    font-size: 50px;
    line-height: 70px;
    min-height: 80px;
    color: white;
    text-align: center;
}

#project4_info {
    position:relative;
    margin-top: 10%;
}

#project4_picture {
    position: relative;
    margin-top: -9%;
}

#project4_description {
    font-family: Helvetica Neue;
}

#project4_img {
    width: 600;
    position:relative;
    left:-45.5%;
    margin-top: -28%;
}

/* PROJECT 4 SECTION END */

/* CONTACT SECTION BEGIN */

#contact_section {
   background-color: #406DDB;
   width: 100%;
   height: 50%;
   overflow: hidden;
    text-align: center;
    color: white;
}

#contact_info {
   position: relative;
    margin-top: 6.5%;
    font-size: 21px;
}

#contact_picture {
    position: relative;
    text-align: center;
    font-size: 21px;
    margin-top: 6.5%;
}

#contact_img {
    width: 1000;
}

/* CONTACT SECTION END */