/* GENERAL STYLING BEGIN */

html, body {
    max-width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

* {
    margin:0px;
	padding:0px;
	font-family: 'Avenir Next W01', 'Avenir Next', 'Proxima Nova', 'Myriad Pro', Helvetica, Calibri, sans-serif;
}


/* GENERAL STYLING END */

/* LANDING SECTION BEGIN */

#landing_section {
    background-color: #59ADEC;
    text-align: center;
    width: 100%;
    height:100%;
    overflow: hidden;
}

#landing_text {
    position: relative;
    width: 50%;
    height: 20%;
    margin-left: 25%;
    font-size: 20px;
    line-height: 70px;
    min-height: 80px;
    color: white;
    text-align: center;
}

#mobile_landing_text {
    font-size:20px;
}

#landing_pic {
    position:relative;
    margin-top:5%;
    width:270;   
}

/* LANDING SECTION END */

/* ABOUT SECTION BEGIN */

#about_section {
    background-color: #3DD0AC;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#about_title {
    position: relative;
    width: 50%;
    height: 20%;
    margin-left: 25%;
    font-size: 50px;
    line-height: 70px;
    min-height: 80px;
    color: white;
    text-align: center;
}

.circular {
    position: relative;
    border-radius: 50%;
    margin-left: 34%;
    margin-top: -4%;
    overflow: hidden;
    width: 100px;
    height: 100px;
}
            
.circular img {
    display: block;
    min-width: 50%;
    min-height: 50%;
}

.about_paragraph {
    font-size:12px;   
}

#about_image {
    margin-top:-13%;
    width: 150;
}

/* ABOUT SECTION END */

/* SERVICES SECTION BEGIN */

#services_section {
   background-color: #FF5E52;
   text-align: center;
   width: 100%;
   height: 100%;
   overflow: hidden;    
}

#services_title {
    position: relative;
    width: 50%;
    height: 20%;
    margin-left: 22%;
    font-size: 50px;
    line-height: 70px;
    min-height: 80px;
    color: white;
    text-align: center;
}

.service_img {
    width:125;
    position:relative;
    left:-10%;
}

.service_heading {
    color:white;
    font-size:17px;
    position:relative;
    margin-top:-5%;   
}

#research_description {
    position: relative;
    width:33%;
    height:20%;
    float:left;
    text-align: center;
    margin-top: -5%;
}

#design_description {
    position: relative;
    width:33%;
    height:20%;
    float:left;
    text-align: center;
    margin-top: -5%;
}

#develop_description {
    position: relative;
    width:33%;
    height:20%;
    float:left;
    text-align: center;
    margin-top: -5%;
}

#research_text {
    position:relative;
    padding-left: 15%;
    padding-right: 15%;
    color: white;
    text-align:left;
}

#design_text {
    position: relative;
    padding-left: 15%;
    padding-right: 15%;
    color: white;
    text-align:left;
}

#develop_text {
    position: relative;
    padding-left: 15%;
    padding-right: 15%;
    color: white;
    text-align:left;
}

/* SERVICES SECTION END */

/* PROJECTS SECTION BEGIN */

#projects_section {
   background-color: #59ADEC;
   text-align: center;
   width: 100%;
   height: 119%;
}

#projects_title {
    position: relative;
    width: 50%;
    height: 20%;
    margin-left: 25%;
    font-size: 50px;
    line-height: 70px;
    min-height: 80px;
    color: white;
    text-align: center;
}

#projects_box_title {
    position: relative;
    width: 50%;
    height: 20%;
    margin-left: 25%;
    font-size: 25px;
    line-height: 70px;
    min-height: 80px;
    color: white;
    text-align: center;
}

.grid {
    width: 50%;
    height: 50%;
    float: left;
}

#box1 {
    background: #59ADEC;
    width: 50%;
    height: 50%;
    float: left;
}

#box2 {
    background: #59ADEC;
    width: 50%;
    height: 50%;
    float: left;
}

#box3 {
    background: #59ADEC;
    width: 50%;
    height: 50%;
    float: left;
}

#box4 {
    background: #59ADEC;
    width: 50%;
    height: 50%;
    float: left;
}

/* PROJECTS SECTION END */