/* GENERAL STYLING BEGIN */

html, body {
    max-width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

* {
    margin:0px;
	padding:0px;
	font-family: 'Avenir Next W01', 'Avenir Next', 'Proxima Nova', 'Myriad Pro', Helvetica, Calibri, sans-serif;
}


/* GENERAL STYLING END */

/* LANDING SECTION BEGIN */

#landing_section {
    background-color: #59ADEC;
    text-align: center;
    width: 100%;
    height:100%;
    overflow: hidden;
}

#landing_text {
    position: relative;
    width: 50%;
    height: 20%;
    margin-left: 25%;
    font-size: 20px;
    line-height: 40px;
    min-height: 80px;
    color: white;
    text-align: center;
}

#mobile_landing_text {
    font-size:20px;
}

#landing_pic {
    position:relative;
    margin-top:-5%;
    width:270;   
}

/* LANDING SECTION END */

/* ABOUT SECTION BEGIN */

#about_section {
    background-color: #3DD0AC;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#about_title {
    position: relative;
    width: 50%;
    height: 20%;
    margin-left: 25%;
    font-size: 50px;
    line-height: 70px;
    min-height: 80px;
    color: white;
    text-align: center;
}

.circular {
    position: relative;
    border-radius: 50%;
    margin-left: 34%;
    margin-top: -4%;
    overflow: hidden;
    width: 100px;
    height: 100px;
}
            
.circular img {
    display: block;
    min-width: 50%;
    min-height: 50%;
}

.about_paragraph {
    font-size:12px;   
}

#about_image {
    margin-top:-13%;
    width: 150;
}

/* ABOUT SECTION END */

/* SERVICES SECTION BEGIN */

#services_section {
   background-color: #FF5E52;
   text-align: center;
   width: 100%;
   height: 100%;
   overflow: hidden;    
}

#services_title {
    position: relative;
    width: 50%;
    height: 20%;
    margin-left: 22%;
    font-size: 50px;
    line-height: 70px;
    min-height: 80px;
    color: white;
    text-align: center;
}

.service_img {
    width:125;
    position:relative;
    left:-10%;
}

.service_heading {
    color:white;
    font-size:17px;
    position:relative;
    margin-top:-5%;   
}

#research_description {
    position: relative;
    width:33%;
    height:20%;
    float:left;
    text-align: center;
    margin-top: -5%;
}

#design_description {
    position: relative;
    width:33%;
    height:20%;
    float:left;
    text-align: center;
    margin-top: -5%;
}

#develop_description {
    position: relative;
    width:33%;
    height:20%;
    float:left;
    text-align: center;
    margin-top: -5%;
}

#research_text {
    position:relative;
    padding-left: 15%;
    padding-right: 15%;
    color: white;
    text-align:left;
}

#design_text {
    position: relative;
    padding-left: 15%;
    padding-right: 15%;
    color: white;
    text-align:left;
}

#develop_text {
    position: relative;
    padding-left: 15%;
    padding-right: 15%;
    color: white;
    text-align:left;
}

/* SERVICES SECTION END */

/* PROJECTS SECTION BEGIN */

#projects_section {
   background-color: #F3A828;
   text-align: center;
   position: relative;
   width: 100%;
   height: 80%;
}

#projects_title {
    position: relative;
    width: 50%;
    height: 20%;
    margin-left: 25%;
    font-size: 50px;
    line-height: 70px;
    min-height: 80px;
    color: white;
    text-align: center;
    background-color: #F3A828;
}

#projects_box_title {
    position: relative;
    width: 50%;
    height: 20%;
    margin-left: 25%;
    margin-bottom: -9%;
    font-size: 25px;
    line-height: 30px;
    min-height: 80px;
    color: white;
    text-align: center;
    background-color: #F3A828;
}

#box1 {
    background: #F3A828;
    width: 100%;
    height: 100%;
    margin-bottom: -50%; 
}

#box2 {
    background: #F3A828;
    width: 100%;
    height: 100%;
    margin-bottom: -50%; 
}

#box3 {
    background: #F3A828;
    width: 100%;
    height: 100%;
    margin-bottom: -50%; 
}

#box4 {
    background: #F3A828;
    width: 100%;
    height: 100%;
    margin-bottom: -50%; 
}

#box5 {
    top:100%;
    bottom:1px;
    background: #F3A828;
    width: 100%;
    height: 100%;
    color:white;
}

#topbox_logo {
    width:100;   
}

#store_button {
    position: relative;
    top:20px;
    display:inline-block;
    line-height:55px;
    text-align:center;
    font-weight:300;
    font-size:23px;
    color:white;
    height:55px;
    width:205px;
    margin-bottom: 15px;
}

#topbox_paragraph {
    margin-left: 10%;
    margin-right: 10%;
}
    
#center_buttons {
    text-align:center;
}

.app_store_color
{
	background-color:#00AFF6;
}

.play_store_color
{
	background-color:#40A3B3;
}

.horizontal_break
{
    width:80%;
}

#footer_text {
    text-align: center;
    font-size:12px;
    color:white;
    background-color: black;
}

/* PROJECTS SECTION END */